<div class="card shadow-sm">
  {# refs: https://picsum.photos/ #}
  <img src="{{ song.cover_url }}" alt="{{ song.name }}" class="cart-img-top"/>

  <div class="card-body">
    <p class="card-text">
      <div class="text_nowrap overflow-hidden text-truncate">{{ song.artist_name}}
        |
        {{ song.name }}</div>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <a href="/hottrack/{{ song.pk }}" class="btn btn-sm btn-outline-primary">
          Detail
        </a>
        <a href="/hottrack/melon-{{ song.melon_uid }}" class="btn btn-sm btn-outline-primary">
          Detail#2
        </a>
        <a href="{{ song.melon_detail_url }}" class="btn btn-sm btn-outline-danger">
          Melon
        </a>
        <a href="{{ song.youtube_search_url }}" class="btn btn-sm btn-outline-danger">
          Youtube
        </a>
      </div>
      <small class="text-body-secondary">9 mins</small>
    </div>
  </div>
</div>
